/* img{	width: 100%; } */
/* .table tr,.table td { height: 10px; } */

.player0-bg {
	background-color:lightblue;
}

.player1-bg {
	background-color:lightcoral;
}

/*
tr, td{
	height: 10px;
	max-height: 10px;
	line-height: 10px;
}
*/

img{
	height: 40px;
	max-height: 40px;
	line-height: 40px;
}

.smallImg{
	height: 20px;
	max-height: 20px;
	line-height: 20px;
}