<div class="container border border-dark rounded no-gutters pb-2 player{{player.playerIndex}}-bg">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center">Player {{player.playerIndex + 1}}</h1>
		</div>
	</div>

	<div class="row no-gutters">
		<table class="table table-sm table-dark">
			<thead>
				<tr>
					<th scope="col">Unit type</th>
					<th scope="col">#Units</th>
					<th scope="col">#Avg. survivors</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of getArrayAllColumns()" [hidden]="simulator.hideUnitTypesWithZeroUnits && player.amountStartUnits[item]==0">
					<td class="align-middle"><label [attr.for]="'numberInput'+player.playerIndex+item">{{player.uts[item].name}}</label></td>
				<td><input type="number" class="form-control" id="numberInput{{player.playerIndex}}{{item}}" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value == ''){ this.value = '0'; };" value="0" min="0" [(ngModel)]="player.amountStartUnits[item]"></td>
					<td class="text-center align-middle" [style.background-color]="getSurvivorsColor(item)">{{player.avgSurvivorsNumber[item]}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="row no-gutters">
		<table class="table table-sm table-dark">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"><img src="assets/population1.png" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/food1.jpg" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/wood1.jpg" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/gold1.jpg" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/sum1.png" class="border border-dark img-fluid"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Invested</td>
					<td>{{player.populationInvested | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvested[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvested[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvested[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvestedTotal | number : '1.0-2'}}</td>
				</tr>
				<tr>
					<td>Generated</td>
					<td>{{player.populationGenerated | number : '1.0-2'}}</td>
					<td>{{player.resourcesGenerated[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesGenerated[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesGenerated[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesGeneratedTotal | number : '1.0-2'}}</td>
				</tr>
				<tr>
					<td>Lost</td>
					<td>{{player.populationLost | number : '1.0-2'}}</td>
					<td>{{player.resourcesLost[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesLost[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesLost[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesLostTotal | number : '1.0-2'}}</td>
				</tr>
				<tr>
					<td>Remaining</td>
					<td>{{player.populationRemaining | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemaining[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemaining[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemaining[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemainingTotal | number : '1.0-2'}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-sm table-dark">
			<thead>
				<tr class="text-center">
					<th scope="col">#Wins</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td>{{player.sumWins}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>