<div class="container border border-dark rounded no-gutters pb-2 player{{player.playerIndex}}-bg">
	<div class="row">
		<div class="col-12 text-center mt-2" ngbDropdown>
			<button class="btn btn-success" id="dropdownBasic3" ngbDropdownToggle>Player {{player.playerIndex + 1}}: {{player.civilization.name}}</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic3">
				<button *ngFor="let civ of player.civs; index as i" ngbDropdownItem (click)="setCiv(i)">{{player.civs[i].name}}</button>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-12">
			<table class="table table-sm table-dark">
				<thead>
					<tr>
						<th scope="col">Unit type</th>
						<th scope="col">#Units</th>
						<th scope="col">#Avg. survivors</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of getCivUnitTypeIndices()" [hidden]="simulator.hideUnitTypesWithZeroUnits && player.amountStartUnits[item]==0">
						<ng-template #utTooltip style="size: 100px;">
							<b>{{player.civUts[item].name}}</b>
							<br>
							<span><img class="smallImg" src="assets/hitpoints.png" title="Hit points">{{player.civUts[item].hp | number : '1.0-2'}}</span>
							<span *ngIf="player.civUts[item].hpRegPerMin != 0"> (+{{player.civUts[item].hpRegPerMin | number : '1.0-2'}}/min)</span>
							<br>
							<span>
								<img class="smallImg" src="assets/attack.png" title="Hit points">
								<img class="smallImg" src="assets/attackSpeed.png" title="Attack speed">{{player.civUts[item].attackSpeed | number : '1.0-2'}}s
							</span>
							<br>
							<span *ngFor="let av of player.civUts[item].attackValues | keyvalue"><img class="smallImg" src="assets/attack.png" title="Hit points"> {{av.key.name}}: {{av.value}}<br></span>
							<span *ngFor="let av of player.civUts[item].armorClasses | keyvalue"><img class="smallImg" src="assets/armor.png" title="Hit points"> {{av.key.name}}: {{av.value}}<br></span>
							<span>
								<img class="smallImg" src="assets/range.png" title="Range and accuracy">
								{{player.civUts[item].attackRange}}t {{player.civUts[item].attackRangeMin != 0 ? "(min: " + player.civUts[item].attackRangeMin + "t)" : ""}} - {{player.civUts[item].accuracyPercent}}%
							</span>
							<br>
							<span><img class="smallImg" src="assets/movementSpeedInv.png" title="Movement speed">{{player.civUts[item].moveSpeed | number : '1.0-2'}}t/s</span>
							<br>
							<span *ngIf="player.civUts[item].resourceCosts[0] != 0"><img class="smallImg" src="assets/Aoe2de_food.png" title="Food">{{player.civUts[item].resourceCosts[0] | number : '1.0-2'}} </span>
							<span *ngIf="player.civUts[item].resourceCosts[1] != 0"><img class="smallImg" src="assets/Aoe2de_wood.png" title="Wood">{{player.civUts[item].resourceCosts[1] | number : '1.0-2'}} </span>
							<span *ngIf="player.civUts[item].resourceCosts[2] != 0"><img class="smallImg" src="assets/Aoe2de_gold.png" title="Gold">{{player.civUts[item].resourceCosts[2] | number : '1.0-2'}}</span>
						</ng-template>
						<td class="align-middle" [ngbTooltip]="utTooltip" container="body">
							<!--<label [attr.for]="'numberInput'+player.playerIndex+item">{{player.uts[item].name}}</label>-->
							<span *ngIf="player.civUts[item].imagePath == ''">{{player.civUts[item].name}}</span>
							<img *ngIf="player.civUts[item].imagePath != ''" src="{{player.civUts[item].imagePath}}" class="border border-dark img-fluid" title="{{player.civUts[item].name}}">
						</td>
						<td><input type="number" class="form-control" id="numberInput{{player.playerIndex}}{{item}}" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value == ''){ this.value = '0'; }; if (this.value > 200) { this.value = '200'; }" value="0" min="0" max="200" [(ngModel)]="player.amountStartUnits[item]"></td>
						<td class="text-center align-middle" [style.background-color]="getSurvivorsColor(item)">{{player.avgSurvivorsNumber[item] | number : '1.0-2'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr>

	<div class="row no-gutters">
		<table class="table table-sm table-dark text-center">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"><img src="assets/Aoe2de_population.png" title="Population" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/Aoe2de_food.png" title="Food" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/Aoe2de_wood.png" title="Wood" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/Aoe2de_gold.png" title="Gold" class="border border-dark img-fluid"></th>
					<th scope="col"><img src="assets/sum1.png" title="Sum of all resources (with optional weighting)" class="border border-dark img-fluid"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Invested</td>
					<td>{{player.populationInvested | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvested[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvested[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvested[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesInvestedTotal | number : '1.0-2'}}</td>
				</tr>
				<tr [hidden]="player.resourcesGeneratedTotal == 0">
					<td>Generated</td>
					<td>{{player.populationGenerated | number : '1.0-2'}}</td>
					<td>{{player.resourcesGenerated[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesGenerated[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesGenerated[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesGeneratedTotal | number : '1.0-2'}}</td>
				</tr>
				<tr>
					<td>Lost</td>
					<td>{{player.populationLost | number : '1.0-2'}}</td>
					<td>{{player.resourcesLost[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesLost[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesLost[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesLostTotal | number : '1.0-2'}}</td>
				</tr>
				<tr>
					<td>Remaining</td>
					<td>{{player.populationRemaining | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemaining[0] | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemaining[1] | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemaining[2] | number : '1.0-2'}}</td>
					<td>{{player.resourcesRemainingTotal | number : '1.0-2'}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-sm table-dark">
			<thead>
				<tr class="text-center">
					<th scope="col">#Wins</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td>{{player.sumWins}} ({{100.0 * player.sumWins / simulator.numberOfSimulationsLastRun | number : '1.0-2'}}%)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>