<div class="row top-buffer">
	<div class="col-12">
		<hr>
		<p class="text-center">
			© AoE Combat Simulator 2021 | Made by <a href="https://www.youtube.com/channel/UC5ftS3VE_lzWrHwdEfxlihA">Zukatah</a>
		</p>
		<p class="text-center">
			Current version: AoE2 DE - Lords of the West - Update 47820 - Latest update: 16 June 2021
		</p>
		<p class="text-center">
			Age of Empires II DE © Microsoft Corporation. aoestats.io was created under Microsoft's <a href="https://www.xbox.com/en-us/developers/rules">"Game Content Usage Rules"</a> using assets from Age of Empires II DE, and it is not endorsed by or affiliated with Microsoft.
		</p>
	</div>
</div>