<nav class="navbar navbar-expand navbar-dark bg-dark">
	<div class="navbar-brand">
		<img src="../assets/sword.png" width="30" height="30" alt="">
		<span>Age of Empires 2 - Combat Simulator</span>
		<img src="../assets/sword.png" width="30" height="30" alt="">
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="nav navbar-nav">
			<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/">Simulator</a></li>
			<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/info">Info</a></li>
		</ul>
	</div>
</nav>