<nav class="navbar navbar-expand navbar-dark bg-dark" style="display: block; text-align: center; padding: 0px 0px 0px 0px;">
	<div class="navbar-brand">
		<img src="../assets/sword.png" width="30" height="30" alt="">
		<span>Age of Empires 2 - Combat Simulator</span>
		<img src="../assets/sword.png" width="30" height="30" alt="">
	</div>
	<br>
	<div style="display: inline-block;">
		<ul class="nav navbar-nav">
			<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/">Simulator</a></li>
			<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/info">Info</a></li>
			<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/matrices">Matrices</a></li>
		</ul>
	</div>
</nav>