<div class="container">

	<div class="row top-buffer">
		<div class="col-2"></div>

		<div class="col-8 text-center border border-dark rounded p-2 matrix-bg">
			<table class="table table-sm table-dark">
				<thead>
					<tr>
						<th scope="col" style="width: 25%"><label class="brightText" for="numberOfSimulationsTextbox">Hit&Run mode</label></th>
						<th scope="col" style="width: 25%"><label class="brightText" for="numberOfSimulationsTextbox">Resource value</label></th>
						<th scope="col" style="width: 25%"><label class="brightText" for="numberOfSimulationsTextbox">Combat type</label></th>
						<th scope="col" style="width: 25%"><label class="brightText" for="numberOfSimulationsTextbox">#Simulations</label></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">
							<div ngbDropdown>
								<button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{hitAndRunModes[hitAndRunMode]}}</button>
								<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
									<button *ngFor="let item of hitAndRunModes; index as i" ngbDropdownItem (click)="SetHnR(i)">{{hitAndRunModes[i]}}</button>
								</div>
							</div>
						</td>
						<td class="text-center">
							<div ngbDropdown>
								<button class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>{{resourceValues[resourceValue]}}</button>
								<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
									<button *ngFor="let item of resourceValues; index as i" ngbDropdownItem (click)="SetRV(i)">{{resourceValues[i]}}</button>
								</div>
							</div>
						</td>
						<td class="text-center">
							<div ngbDropdown>
								<button class="btn btn-primary" id="dropdownBasic3" ngbDropdownToggle>{{combatTypes[combatType]}}</button>
								<div ngbDropdownMenu aria-labelledby="dropdownBasic3">
									<button *ngFor="let item of combatTypes; index as i" ngbDropdownItem (click)="SetCT(i)">{{combatTypes[i]}}</button>
								</div>
							</div>
						</td>
						<td class="text-center">
							<input type="number" class="form-control" id="numberOfSimulationsTextbox" [(ngModel)]="numberOfSimulations" min="1" max="1000" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value == ''){ this.value = '1'; } if (this.value > 1000) { this.value = '1000'; }">
						</td>
					</tr>
				</tbody>
			</table>

			<div class="spinner-border" role="status" *ngIf="working"></div><br>

			<button type="button" class="btn btn-info" (click)="StartMatrixCalculations()" [disabled]="working">Start Simulation</button>
		</div>

		<div class="col-2"></div>
	</div>
</div>
	
<div class="top-buffer">
	<div class="col-12 border border-dark rounded p-2 matrix-bg">
		<div class="row no-gutters">
			<h3>Live Cost efficiency matrix</h3>
		</div>
		<div class="row no-gutters">
			<ul>
				<li>No Hit&Run</li>
				<li>Food & wood & gold of equal worth</li>
			</ul>
		</div>

		<div class="row no-gutters text-center">
			<table class="table table-sm table-dark scrollbar fixedHeightImages">
				<thead>
					<tr>
						<th style="min-width: 55px; width: 55px;" scope="col"></th>
						<th style="min-width: 55px; width: 55px;" scope="col"></th>
						<th *ngFor="let utInd of CreateIncrArray(numberUtToDisplayColumns)" style="min-width: 58px; width: 58px; max-width: 58px;" scope="col">
							<span class="brightText">{{player2CivUts[utInd].civ.name}}</span><br>
							<img *ngIf="player2CivUts[utInd].imagePath != ''" src="{{player2CivUts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{player2CivUts[utInd].name}}">
						</th>
						<th style="min-width: 55px; width: 55px" *ngIf="showAvgCol" scope="col" class="brightText">Points</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let utInd of CreateIncrArray(numberUtToDisplayRows); index as i">
						<td>
							<span class="brightText">{{player1CivUts[utInd].civ.name}}</span>
						</td>
						<td>
							<img *ngIf="player1CivUts[utInd].imagePath != ''" src="{{player1CivUts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{player1CivUts[utInd].name}}">
						</td>
						<td *ngFor="let utInd2 of CreateIncrArray(numberUtToDisplayColumns); index as j" [style.background-color]="getSurvivorsColor(combatresults[i][j])" class="align-middle">
							<span class="align-middle">{{combatresults[i][j] | number : '1.0-2'}}</span>
						</td>
						<td *ngIf="showAvgCol" class="align-middle" style="background-color: cadetblue;"> <!--[style.background-color]="getSurvivorsColor(combatresults[i][numberUtToDisplayColumns])"-->
							<span class="align-middle">{{combatresults[i][numberUtToDisplayColumns] | number : '1.0-2'}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--
	<th *ngFor="let utInd of CreateIncrArray(numberUtToDisplayColumns)" [ngStyle]="{'width': 75/numberUtToDisplayColumns + '%'}" scope="col">
-->