.top-buffer { margin-top:10px; }

.matrix-bg {
	background-color: lightyellow;
}

table{
	table-layout: fixed;
	margin-bottom: 0px;
	width: auto;
}

th, td{
	color: black;
}

th{
	position: sticky;
	top: 0;
}

span{
	font-size: small;
}

.brightText{
	color: lightgray;
}

.fixedHeightImages img{
	width: 40px;
	height: 40px;
}

.scrollbar{
	display: block;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
}