<div class="container">
	<div class="row top-buffer">
		<div class="col-12 text-center border border-dark rounded p-2 matrix-bg">
			<div class="row no-gutters">
				<h3>Cost efficiency table - No Hit&Run</h3>
			</div>

			<div class="row no-gutters">
				<table class="table table-sm table-dark">
					<thead>
						<tr>
							<th scope="col"></th>
							<th *ngFor="let utInd of CreateIncrArray(numberUtToDisplay)" scope="col">
								<span *ngIf="uts[utInd].imagePath == ''">{{uts[utInd].name}}</span>
								<img *ngIf="uts[utInd].imagePath != ''" src="{{uts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{uts[utInd].name}}">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let utInd of CreateIncrArray(numberUtToDisplay); index as i">
							<td>
								<span *ngIf="uts[utInd].imagePath == ''">{{uts[utInd].name}}</span>
								<img *ngIf="uts[utInd].imagePath != ''" src="{{uts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{uts[utInd].name}}">
							</td>
							<td *ngFor="let utInd2 of CreateIncrArray(numberUtToDisplay); index as j" [style.background-color]="getSurvivorsColor(combatresultsNoHnR[i][j])" class="align-middle">
								<span class="align-middle">{{combatresultsNoHnR[i][j] | number : '1.0-2'}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row top-buffer">
		<div class="col-12 text-center border border-dark rounded p-2 matrix-bg">
			<div class="row no-gutters">
				<h3>Cost efficiency table - Medium Hit&Run</h3>
			</div>

			<div class="row no-gutters">
				<table class="table table-sm table-dark">
					<thead>
						<tr>
							<th scope="col"></th>
							<th *ngFor="let utInd of CreateIncrArray(numberUtToDisplay)" scope="col">
								<span *ngIf="uts[utInd].imagePath == ''">{{uts[utInd].name}}</span>
								<img *ngIf="uts[utInd].imagePath != ''" src="{{uts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{uts[utInd].name}}">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let utInd of CreateIncrArray(numberUtToDisplay); index as i">
							<td>
								<span *ngIf="uts[utInd].imagePath == ''">{{uts[utInd].name}}</span>
								<img *ngIf="uts[utInd].imagePath != ''" src="{{uts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{uts[utInd].name}}">
							</td>
							<td *ngFor="let utInd2 of CreateIncrArray(numberUtToDisplay); index as j" [style.background-color]="getSurvivorsColor(combatresultsSemiHnR[i][j])" class="align-middle">
								<span class="align-middle">{{combatresultsSemiHnR[i][j] | number : '1.0-2'}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row top-buffer">
		<div class="col-12 text-center border border-dark rounded p-2 matrix-bg">
			<div class="row no-gutters">
				<h3>Cost efficiency table - Perfect Hit&Run</h3>
			</div>

			<div class="row no-gutters">
				<table class="table table-sm table-dark">
					<thead>
						<tr>
							<th scope="col"></th>
							<th *ngFor="let utInd of CreateIncrArray(numberUtToDisplay)" scope="col">
								<span *ngIf="uts[utInd].imagePath == ''">{{uts[utInd].name}}</span>
								<img *ngIf="uts[utInd].imagePath != ''" src="{{uts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{uts[utInd].name}}">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let utInd of CreateIncrArray(numberUtToDisplay); index as i">
							<td>
								<span *ngIf="uts[utInd].imagePath == ''">{{uts[utInd].name}}</span>
								<img *ngIf="uts[utInd].imagePath != ''" src="{{uts[utInd].imagePath}}" class="border border-dark img-fluid" title="{{uts[utInd].name}}">
							</td>
							<td *ngFor="let utInd2 of CreateIncrArray(numberUtToDisplay); index as j" [style.background-color]="getSurvivorsColor(combatresultsFullHnR[i][j])" class="align-middle">
								<span class="align-middle">{{combatresultsFullHnR[i][j] | number : '1.0-2'}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>